
html         {font-family:Arial; background-color: #C0C0C0 }
h1 		{margin-Top:0px; MARGIN-LEFT:0px; MARGIN-RIGHT: -10px;
			font-size:medium; background-color: #000000; color: #FFFFFF; font-family: Arial; font-weight: bold}
label {font-weight: bold}
td.label {font-weight: bold}
p.label {font-weight: bold}
body {  background-color:silver; margin-Top:0; margin-Left:0}
td.ListTableCell {border-left-style: none; border-left-color: red; border-right-style: none;

				border-right-color: white; border-top-style: none;
			   border-top-color: #ffffff; border-bottom-style: none;
			   border-bottom-color: #ffffff ;  vertical-align:"top"}

table.ListTable {cursor:default; border-collapse:collapse; background-color:white; border-style: solid; border-color: black; border-width: 1px }
table.EmbeddedListTable { cursor:default; border-collapse:collapse;  background-color:white; border-style: none; border-color: black; border-width: 1px }
table { cursor:default; border-collapse:collapse; background-color:silver; border-style: solid;
		border-color: white; border-width: 0px }


th.ListTable { BORDER-STYLE: ridge; border-width:2px; background-color:#d5d5d5;  }

tr.selectedRow {background-color:yellow}

td.MorphemeColumn { margin-right:1cm; color:blue}

span.morphname {color: blue}
span.allomorph {color: green}
span.category {color: darkRed}

TR.Missing {background-color:#ffc4c3}
