H1 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H4 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H5 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H6 {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
SPAN.SYMBOL {
	FONT: 100% Symbol, serif
}
SPAN.IPA {
	FONT-SIZE: 100%; FONT-FAMILY: "SILDoulos IPA93",SILDoulosIPA-Regular,SILDoulosIPA
}
SPAN.IPATT {
	FONT-SIZE: 100%; FONT-FAMILY: "SILManuscript IPA93",SILManuscriptIPA-Regular,SILManuscriptIPA
}
P.HIN {
	MARGIN-LEFT: 0.25in; TEXT-INDENT: -0.25in
}
