config.log
config.status
stamp-h
*.o
*.og
*.op
*.ox
*.a
*.so
*~
Makefile
/.vs
/ToneGen/tonegen
/TonePars/tonepars
/ample/ample
/ample/xample
/anadiff/anadiff
/intergen/intergen
/ktagger/ktagger
/ktext/ktext
/pckimmo/convlex
/pckimmo/pckimmo
/pcpatr/pcpatr
/stamp/stamp
Debug*/
Release*/
Pcparse*.VC.*db
*.vcxproj.user
pcpatr/dlldata.c
pcpatr/patr100.h
pcpatr/patr100.tlb
pcpatr/patr100_i.c
pcpatr/patr100_p.c
