config.log
config.status
stamp-h
*.o
*.og
*.op
*.ox
*.a
*.so
Makefile
/ToneGen/tonegen
/TonePars/tonepars
/ample/ample
/ample/xample
/anadiff/anadiff
/intergen/intergen
/ktagger/ktagger
/ktext/ktext
/pckimmo/convlex
/pckimmo/pckimmo
/pcpatr/pcpatr
/stamp/stamp
